
<ul class='sponsors'>
    <li><a target="_blank" href="https://fpabramo.org.br/" ><img src="/assets/images/footer/logo-fundacao-perseu-abrantes.png" class="logo"></a></li>
    <li><a target="_blank" href="http://www.institutolula.org/" ><img src="/assets/images/footer/logo-instituto-lula.png" class="logo"></a></li>
    <li><a target="_blank" href="http://www.pt.org.br/" ><img src="/assets/images/footer/logo-partido-dos-trabalhadores.png" class="logo"></a></li>
</ul>
<div class="footer-content">
    <ul class='footer-menu'>
        <li><a routerLink="/sobre-nos">Sobre Nos</a></li>
        <li><a routerLink="/conversations">Conversas</a></li>
        <li><a routerLink="/perguntas-frequentes">Perguntas Frequentes</a></li>
        <li><a routerLink="/termos-de-uso">Termos de Uso</a></li>
    </ul>
    <div class="copyright">
        <div class="text">
            Está é uma iniciativa do Partido dos Trabalhadores e da Fundação Perseu Abramo,
            desenhada pelo Instituto Cidade Democrática, desenvolvida pelo Hacklab e movida pelo software livre Pol.is
        </div>
    </div>
</div>
