 <div class="modal-header">
    <h4 class="modal-title pull-left" translate>{{'recover-password.title'}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

  <form #recoverPasswordForm="ngForm" (ngSubmit)="recover()" class="login_form">
    
    <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
      <label for="lgFormGroupInput" class="col-sm-12 col-form-label ">{{'recover-password.label.email' | translate}}</label>
      <div class="col-sm-12">
        <input [(ngModel)]="profile.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]+$" required type="email" name="email" class="form-control form-control-lg" placeholder="{{'recover-password.email' | translate}}">
        <validation-message #emailErrors [field]="email" [prefix]="'recover-password.email'"></validation-message>
      </div>
    </div>

    <div class='registration'>
      {{'login.registration.info' | translate }}
      <a class="registration-button" (click)="openRegistration()">
        {{'login.registration.button' | translate }}
      </a>
    </div>

    <div class='button-action'>
        <button [disabled]="!recoverPasswordForm.form.valid" type="submit" class="button" translate>{{'recover-password.send'}}</button>   
    </div>
  </form>

</div>
