 <div class="modal-header">
    <h4 class="modal-title pull-left" translate>{{'registration.sign_up'}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
  <div class='social-media'>
    <a id="facebook-button" (click)="loginWithFacebook()">
      <i class="fa fa-facebook"></i>
      {{'login.facebook' | translate }}
    </a>
    <a id="twitter-button" (click)="loginWithTwitter()">
      <i class="fa fa-twitter"></i>
      {{'login.twitter' | translate }}
    </a>
  </div>
  <div class="alert alert-danger" *ngIf="socialErrors">
    {{ socialErrors }}
  </div>

  <form #registrationForm="ngForm" (ngSubmit)="register()" class="login_form">

    <div class="form-group name-field" [ngClass]="[ name.touched ? (name.valid ? 'is-valid' : 'is-invalid') : '' ]">
      <i class="inside-icon"></i>
      <input type="text" class="form-control"
        id="name" name="name" placeholder="{{'registration.name' | translate }}"
        [(ngModel)]="profile.name" #name='ngModel'>
      <validation-message #nameErrors [field]="name" [prefix]="'registration.name'"></validation-message>
    </div>

    <div class="form-group email-field" [ngClass]="[ email.touched ? (email.valid ? 'is-valid' : 'is-invalid') : '' ]">
      <i class="inside-icon"></i>
      <input type="email" class="form-control" id="email" name="email" placeholder="{{'registration.email' | translate }}"
          [(ngModel)]="profile.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]+$" required #email='ngModel'>
        <validation-message #emailErrors [field]="email" [prefix]="'registration.email'"></validation-message>
    </div>

    <div class="form-group password-field" [ngClass]="[ password.touched ? (password.valid ? 'is-valid' : 'is-invalid') : '' ]">
      <i class="inside-icon"></i>
      <input type="password" class="form-control"
        id="password" name="password" placeholder="{{'registration.password' | translate }}"
        [(ngModel)]="profile.password" required #password='ngModel'>
      <validation-message #passwordErrors [field]="password" [prefix]="'registration.password'"></validation-message>
    </div>

    <div class="form-group passwordConfirmation-field" [ngClass]="[ passwordConfirmation.touched ? (passwordConfirmation.valid ? 'is-valid' : 'is-invalid') : '' ]">
      <i class="inside-icon"></i>
      <input type="password" class="form-control"
        id="passwordConfirmation" name="passwordConfirmation" placeholder="{{'registration.password.confirm' | translate }}"
        [(ngModel)]="profile.password_confirmation" required #passwordConfirmation='ngModel'>
      <validation-message #passwordConfirmationErrors [field]="passwordConfirmation" [prefix]="'registration.passwordConfirmation'"></validation-message>
    </div>

    <div class='terms-of-use'>
      {{'registration.terms.info' | translate }}
      <a class="terms-of-use-button" (click)="bsModalRef.hide()" routerLink="/termos-de-uso">
        {{'registration.terms.button' | translate }}
      </a>
    </div>

    <div class='button-action'>
        <button [disabled]="!registrationForm.form.valid" type="submit" class="button" translate>{{'registration.button.sign_up'}}</button>
    </div>
  </form>

</div>
