@import '../../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../globals';

textarea{
    min-height: 150px;
}

.button-action .button{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #7ED321;
    float: right;
    margin-bottom: 20px;
    border-radius: 2px;
}

.modal-title{
    color: #3C494E;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

textarea{ border-radius: 0px !important; }