<div *ngIf="comment" class="reason-modal">

<div class="modal-body">
    <h4 class="modal-title pull-left" translate>{{'comments-report-modal.title'}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    
  <form #rejectReasonForm="ngForm" (ngSubmit)="save()" class="login_form">

    <div class="form-group rejection_reason-field" [ngClass]="[ rejection_reason.touched ? (rejection_reason.valid ? 'is-valid' : 'is-invalid') : '' ]">
      <textarea class="form-control"
          id="rejection_reason" name="rejection_reason" placeholder="{{'comments-report-modal.rejection.reason' | translate }}"
          [(ngModel)]="comment.rejection_reason"  #rejection_reason='ngModel'>
      </textarea>
    </div>

    <div class='options'>
      <div class='button-action'>
        <button [disabled]="!rejectReasonForm.form.valid" type="submit" class="button" translate>{{'comments-report-modal.button'}}</button>
      </div>
    </div>

  </form>

</div>
</div>
