<nav class="main-nav">

    <ul class="user-nav">
        <li routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/profile" (click)="toggleMenu()" class="profile"  >
                <img onError="this.src='/assets/images/icons/profile_icon.svg'"[src]="profile.image" alt="{{'navigation-bar.item.profile' | translate}}">
                {{'navigation-bar.item.profile' | translate}}
            </a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/conversations']"  (click)="toggleMenu()">
                <img src="/assets/images/icons/conversas_icon.svg" alt="{{'navigation-bar.item.conversations' | translate}}" />
                <span class="">{{'navigation-bar.item.conversations' | translate}}</span>
            </a>
        </li>
        <!-- <li><a routerLink="/notes" class="fa fa-pencil-square-o">Notes</a></li> -->
        <!-- <li><a href="/courses" class="fa fa-puzzle-piece">Conversas</a></li> -->
        <!-- <li routerLinkActive="active">
            <a [routerLink]="['/comments']" class="comments fa fa-bullhorn">
                <span class="notification-bubble">5</span>
                <span class="">{{'navigation-bar.item.my-votes' | translate}}</span>
            </a>
        </li> -->
        <li routerLinkActive="active">
            <a [routerLink]="['/comments']" class="comments"  (click)="toggleMenu()">
                <img src="/assets/images/icons/comentarios_icon.svg" alt="{{'navigation-bar.item.comments' | translate}}" />
                <span class="">{{'navigation-bar.item.comments' | translate}}</span>
            </a>
        </li>
        <!-- <li><a href="/discussion/forum-home/" class="fa fa-quote-left">Fóruns</a></li> -->
        <!-- <li><a href="/cards" class="cards">Assim se faz</a></li> -->

        <li>
            <a routerLink="/logout">
                <img src="/assets/images/icons/sair_icon.svg" alt="Some user" class="img-circle"/>
                {{'navigation-bar.item.logout' | translate }}
            </a>
        </li>
    </ul>

    <ul class="user-nav menu">
        <li routerLinkActive="active">
            <a [routerLink]="['/perguntas-frequentes']"  (click)="toggleMenu()">
                <img src="/assets/images/icons/perguntas_frequentes_icon.svg" alt="{{'navigation-bar.item.asks' | translate}}" />
                <span class="">{{'navigation-bar.item.asks' | translate}}</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/termos-de-uso']"  (click)="toggleMenu()">
                <img src="/assets/images/icons/termos_de_uso_icon.svg" alt="{{'navigation-bar.item.terms' | translate}}" />
                <span class="">{{'navigation-bar.item.terms' | translate}}</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/sobre-nos']"  (click)="toggleMenu()">
                <img src="/assets/images/icons/sobre_nos_icon.svg" alt="{{'navigation-bar.item.us' | translate}}" />
                <span class="">{{'navigation-bar.item.us' | translate}}</span>
            </a>
        </li>
    </ul>

    <!-- <div class="site-info">
        <ul class="site-nav">
            <li><a href="/pages/sobre">About</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modal-contact">Contact</a></li>
            <li><a href="/accept_terms">Termos de Uso</a></li>
        </ul>
    </div> -->

  </nav>
