@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../mixins';
@import '../../variables';

.main-nav {    
    background-color: $default-color;
    bottom: 0;
    left: -245px;
    top: 0;
    position: fixed;
    transition: all 0.5s ease;
    width: 85px;
    z-index: 1000;
    a {
        color: #fff;
    }
    ul, ul ul {
        @extend .list-unstyled;
        color: #fff;
    }

    @include media-breakpoint-up(xs) {
        left: 0;
    }
    @include media-breakpoint-up(sm) {
        left: 0;
        width: 100px;
    }
    @include media-breakpoint-down(sm) {
        left: -245px;
    }
}

.user-nav {
    @extend .pb-2;
    
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    height: calc(60% - 80px);
    text-align: center;
    margin: 80px 0px 0px;
    
    &.menu{
        @extend .pt-2;
        border-top: 1px solid;
        margin: 0px !important;
        height: calc(40% - 80px);
    }

    img[src="/assets/images/icons/profile_icon.svg"]{
        filter: invert(100%);
    }

    .active{
        background-color: #00D345;
        &:before {
            border-left: 15px solid transparent;
            border-right: 15px solid white;
            border-bottom: 15px solid transparent;
            border-top: 15px solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            right: 0px;
            top: 30px;
            @include media-breakpoint-up(xs) {
                top: 28px;
            }
            @include media-breakpoint-up(sm) {
                border-left: 20px solid transparent;
                border-right: 20px solid white;
                border-bottom: 20px solid transparent;
                border-top: 20px solid transparent;
                right: 0px;
                top: 30px;
            }
        }
    }
    @include media-breakpoint-up(sm) {
        margin-top: 105px;
    }

    li {
        position: relative;
        padding: 25px 20px 25px 15px;

        @media screen and (min-height: 500px) and (max-height: 900px){
            padding: 15px 20px 15px 15px;
        }

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    a {
        @include link-hover(#fff,#fff,transparent,#fff);
        display: inline-block;
        border-bottom-width: 2px !important;
        
        &:hover {
            text-decoration: none;
        }
        &:before {
            display: block;
            font-size: $font-size-lg;
        }

        img{
            width: 25px;
            margin-right: 7px;
            
            @include media-breakpoint-up(md) {
                width: 30px;
                margin-bottom: 5px;
            }
        }
    }
    .submenu {
        margin-bottom: 20px;
        ul {
            li {
                font-size: 11px;
                font-weight: $font-weight-normal;
                margin-bottom: 0;
                padding: 10px 0;
                a {
                    border-bottom-width: 1px !important;
                }
            }
            li + li {
                padding-top: 0;
            }
        }
    }
    .profile {
        border-radius: 100%;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
        float: none;
        height: 34px;
        margin: 0 auto;
        text-align: center;
        width: 34px;
        @include media-breakpoint-up(sm) {
            height: 40px;
            width: 40px;
        }
        img {
            height: 34px;
            width: 34px;
            border-radius: 50%;

            @include media-breakpoint-up(sm) {
                height: 40px;
                width: 40px;
            }
        }
    }
}


.site-info {
    display: none;
    padding: 0 30px 30px;
    position: absolute;
    bottom: 0;
    .site-nav {
        @extend .list-inline;
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;
        padding-bottom: 5px;
        text-align: center;
        li {
            font-weight: 700;
            margin: 0 10px;
        }
    }
    .legal-text {
        color: #fff;
        font-size: $font-size-sm;
        text-align: center;
    }
}
