
 <div class="modal-header">
    <h4 class="modal-title pull-left" translate>{{'login.sign_in'}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
  <div class='social-media'>
    <a id="facebook-button" (click)="loginWithFacebook()">
      <i class="fa fa-facebook"></i>
      {{'login.facebook' | translate }}
    </a>
    <a id="twitter-button" (click)="loginWithTwitter()">
      <i class="fa fa-twitter"></i>
      {{'login.twitter' | translate }}
    </a>
  </div>
  <div class="alert alert-danger" *ngIf="socialErrors">
    {{ socialErrors }}
  </div>

  <form #signInForm="ngForm" (ngSubmit)="login()" class="login_form">

    <div class="form-group email-field" [ngClass]="[ email.touched ? (email.valid ? 'is-valid' : 'is-invalid') : '' ]">
      <i class="inside-icon"></i>
      <input type="email" class="form-control" id="email" name="email" placeholder="{{'login.email' | translate }}"
          [(ngModel)]="profile.email" required #email='ngModel'>
      <validation-message #emailErrors [field]="email" [prefix]="'login.email'"></validation-message>
    </div>

    <div class="form-group password-field" [ngClass]="[ password.touched ? (password.valid ? 'is-valid' : 'is-invalid') : '' ]">
      <i class="inside-icon"></i>
      <input type="password" class="form-control"
        id="password" name="password" placeholder="{{'login.password' | translate }}"
        [(ngModel)]="profile.password" required #password='ngModel'>
      <validation-message #passwordErrors [field]="password" [prefix]="'login.password'"></validation-message>
    </div>

    <div class='options'>
      <div class='registration'>
        {{'login.registration.info' | translate }}
        <a class="registration-button" (click)="openRegistration()">
          {{'login.registration.button' | translate }}
        </a>
      </div>
      <div class='forgot'>
          <a class="forgot-button" (click)="openRecoverPassword()">
            {{'login.password.forgot' | translate }}
          </a>
        </div>
        <div class='button-action'>
          <button [disabled]="!signInForm.form.valid" type="submit" class="button" translate>{{'login.button.sign_in'}}</button>
        </div>
    </div>


  </form>

</div>
