@import '../../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../globals';
@import '../../../variables';

:host /deep/ .statistics-item .bg-success{
    background-color: $bg-agree !important;
}

:host /deep/ .statistics-item .bg-danger{
    background-color: $bg-disagree !important;
}

:host /deep/ .statistics-item .bg-warning{
    background-color: $bg-pass !important;
}

.comment-report-card-actions{
    @media screen and (min-width: 1024px){
        margin-left: 8.3%;
    }
}

.statistics-item{   
    @extend .my-2;
    @extend .row;
    &.agree .icon{
        background-color: $bg-agree;
    }
    &.disagree .icon{
        background-color: $bg-disagree;
    }
    &.pass .icon{
        background-color: $bg-pass;
    }
    .icon{
        min-height: 25px;
        min-width: 25px;
        max-width: 25px;
        max-height: 25px;       
        margin-top: auto;
        border-radius: 100%;
        background-color: #9B9B9B;

        img {
            height: 25px;
            width: 25px;
        }
    }
    .progess{
        @extend .col-md-9;

        span{
            color: #009688;
            font-size: 12px;
            font-weight: 500;
        }
    }
    .percentage{
        @extend .col-md-2;
        margin-top: auto;
        padding-left: 0px;
        color: #9B9B9B;	
        font-family: Roboto;	
        font-size: 10px;
    }
}
.comment-report-card-header{
    @extend .mt-3;
    @extend .ml-4;
    
    .profile{
        float: left;

        img{
            border-radius: 100%;
            width: 60px;
            height: 60px;
        }
    }
    .author{
        @extend .ml-3;
        @extend .mt-3;
        float: left;
        color: #4A4A4A;	
        font-size: 12px;	
        font-weight: 500;
    }
}

.conversation-description, .conversation-title{
    color: #4A4A4A;
    font-size: 12px;
    margin-top: 5px;
}

.conversation-description{ font-weight: 500; }

.comment-report-card-text{
    color: #4A4A4A;
	font-size: 24px;
}

.comment-report-card-block, .comment-report-card-footer{
    margin-left: 100px;
}

.comment-report-card-block{
    font-size: xx-large;
}

.comment-report-card-footer{
    @extend .mt-3;
    font-size: x-small;
    padding-top: 5px;
    
}

.comment-report-card{
    @extend .row;
    @extend .my-5;
    @extend .pb-3;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
    border: none;

    .comment-report-card-footer{
        border-top: 2px solid #C2C2C2;
    }
}

.buttons{
    @extend .mt-4;

    .button{
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 2px;
    }

    .button.approve{
        background-color: #7ED321;
    }

    .button.reject{
        background-color: #F5A623;
    }
}