@import '../../node_modules/bootstrap/scss/bootstrap';

.logged {
   
    background-color: transparent;
    height: 100%;
    min-height: 100%;

    // wrap the whole content of the site to prevent overflow on mobile devices
    .site-wrapper {
        overflow: hidden;
        position: relative;
        min-height: 100%;
        width: 100%;
    }
    // content wrapper
    .wrapper {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 60px;
        padding-bottom: 65px;
        @include transition(all 0.5s ease);
        @include media-breakpoint-up(xs) {
            left: 85px;
            padding-right: 85px;
        }
        @include media-breakpoint-up(sm) {
            left: 100px;
            padding-bottom: 85px;
            padding-right: 100px;
            margin-top: 80px;
        }
        @include media-breakpoint-up(md) {
            padding-bottom: 110px;            
        }
        @media screen and (min-width: 1025px) {
            margin-top: 80px;
        }
        @include media-breakpoint-down(sm) {
            left: 0;
            padding-right: 0;
        }
    }
    .container-fluid {
        max-width: 1050px;
    }
}

    // when the main navbar is opened
.main-nav-opened {
    .wrapper {
        left: 245px;
        @include media-breakpoint-up(md) {
            padding-right: 245px;
        }
        @include media-breakpoint-down(md) {
            left: 185px;
        }
    }
}

:host /deep/ .main-nav-opened {
    nav{
        display: block;
        .user-nav {
            font-size: $font-size-lg;
            text-align: left;
            @include media-breakpoint-up(sm) {
                margin-top: 105px;
            }
            li{
                @include media-breakpoint-down(xs) {
                    margin-bottom: 15px;
                    padding: 15px;
                    font-size: 16px;
                }
                &:before {
                    @include media-breakpoint-down(xs) {
                        top: 24px !important;
                    }
                }
            }
            a {
                display: flex;
                align-items: center;
                
                &:before {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
            .profile{
                display: inline-block;
            }
            .notification-bubble{
                left: 37px;
            }
            .submenu {
                margin-bottom: 15px;
                ul {
                    border-left: 1px solid;
                    padding-left: 10px;
                    li {
                        font-size: 14px;
                        padding: 5px 0;
                    }
                }
            }
        }
    }
    
    .site-info {
        display: block;
    }

    .main-nav {
        left: 0;
        width: 245px;
        @include media-breakpoint-down(md) {
            width: 185px;
        }
    }   

    .logged .site-logo{
        @include media-breakpoint-down(xs) {
            display: none ;
        }
    } 

    .unlogged{
        .without-profile{ left: 0% !important; }
    }

    header.site-header {
        .user-info {
            width: 245px !important;
            @include media-breakpoint-up(sm) {
                padding: 20px 25px;
            }
            @include media-breakpoint-down(md) {
                width: 185px !important;
            }
            .user-icon {
                float: left !important;
                margin: 0 5px !important; 
            }
            .user-name {
                display: block !important;
                @include media-breakpoint-down(md) {
                    max-width: 110px !important;
                }
            }
            .menu-label {
                display: none !important;
            }
            @include media-breakpoint-down(xs) {
                .hide-menu {
                    display: block !important;
                }
            }
        }

    }
}


