@import '../../../node_modules/bootstrap/scss/bootstrap';

h1{
    font-size: x-large;
    color: #4A4A4A;
    //FIXME put a bootstrap variable
    font-weight: 500;
    @extend .m-5;
}

h2, h3{
    text-align: center;
    font-weight: bold;
    color: #D30000;
}
.card{
    @extend .mx-4;
    @extend .mt-5;
    
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border: none;

    &, .card-header, .card-footer {
        background-color: white;
    }
}

.card-header{
    padding-left: 0px;
    .card-header-left{
        float: left;
        @extend .ml-3;
        .category{
            display: block;
            font-weight: bold;
            margin: 0px;
            padding: 0px;
    
        }
        .date{
            margin: 0px;
            padding: 0px;
        }
    }
    
    .card-header-right{
        float: right;
    
    }
}
.card-text{
    font-size: small;
    @extend .m-4;    
}


.card-cover{
    position: relative;
    background-color: rgba(208,2,27,0.66);

    h5.card-title{
        color: white;
        position: absolute;
        padding: 0 20px;
        font-weight: normal;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }

    .card-cover-img{
        position: relative;
    }
    .card-cover-img:after {
        content:'';
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
        background-color: rgba(208,2,27,0.66);
    }
}

.card-footer{
    padding-left: 0px;
    .amount{
        font-weight: bold;
        @extend .mx-1;
        
    }
    .card-footer-left{
        float: left;
    }
    
    .card-footer-right{
        float: right;
    
    }
    .participation{
        @extend .pl-4;
        @extend .pt-5;
        
        clear: both;
        .content{
            display: inline-block;
            .teste{
                display: inline-block;
            }
        }
        .profile{
            img{
                width: 50px;
                // height: 40px;
            }
        }

        progressbar{
            display: flex;
            align-items: center;
            
            @extend .pl-3;
        }
    }
}
