@import '../../../node_modules/bootstrap/scss/bootstrap';

h2,h3{ font-weight: 300; }
h2{ font-size: 32PX; }
h3{ font-size: 24px; }
h4{ font-size: 0.8rem; }
.card a{ color: white; }

.card{
    @extend .mt-5;
    
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border: none;
    position: relative;

    &.new{
        box-shadow: 0 0 0 5px #EF4438, 0 0 2px 7px rgba(0,0,0,0.12), 0 2px 2px 6px rgba(0,0,0,0.24);

        &:after{
            content: '#Novidade';
            background-image: url('/assets/images/bg-card-new.png');
            right: 16px;
            top: -14px;
            z-index: 100;
            position: absolute;
            color: white;
            font-size: 14px;
            text-transform: uppercase;
            padding: 3px 30px;
        }
    }

    @include media-breakpoint-up(sm) {
        max-width: 100%;
    }

    @include media-breakpoint-up(md) {
        max-width: calc(50% - 30px);
        min-width: calc(50% - 30px);
    }

    @include media-breakpoint-up(lg) {
        max-width: calc(33.3% - 30px);
        min-width: calc(33.3% - 30px);
    }
}

.card-cover{
    position: relative;
    height: 130px;
    background-size: cover;
    background-position: center;

    .card-numbers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: linear-gradient(transparent, rgba(33,33,33, 0.7) 75%, rgba(33,33,33, 0.9));
        width: 100%;
        height: 70px;
        left: 0;
        bottom: 0;
        position: absolute;
        align-items: flex-end;
        padding: 10px 20px;
        overflow: hidden;

        span{ 
            font-weight: 300; 
            font-size: 14px;
        }

        .category{ 
            flex: 1 1 100%;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 1px;
        }
    }
}

.card-title{ 
    color: black;
    flex: 1;
    padding: 20px 20px 0 20px;
    margin-bottom: 0px;
 }

.button-action{
    max-width: none;
}

.card-block{
    padding: 10px 20px 20px 20px;
    color: rgba(0,0,0,0.54);
    font-size: 14px;

    .card-text{
        color: rgba(0,0,0,0.87);
    }

    .participation{
        clear: both;

        &.mb-20{ margin-bottom: 20px; }
        
        .content{ display: inline-block; }

        .profile img{ width: 30px; }
        
        .btn-primary{
            text-transform: uppercase;
            background-color: #EF4438;
            border-color: #EF4438;
            font-size: 14px;
            letter-spacing: 1px;

            img{ height: 22px; }
        }

        progressbar{
            display: flex;
            align-items: center;

            @extend .pl-3;
        }
    }
}
