$fa-font-path: "../../../node_modules/font-awesome/fonts";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";
@import '../../../node_modules/bootstrap/scss/bootstrap';

$profile-font-color: #6B7479;

.profile-form{
    @extend .row;
    color: $profile-font-color;
    display: flex;
    box-shadow: 0 0 10px rgb(233, 233, 233);
    border: 1px solid rgb(233, 233, 233);
    border-radius: 3px;
    
    .profile-picture-column{
        @extend .col-md-3; 
        border-right: 1px solid rgb(233, 233, 233);
        padding-top: 30px;
        padding-bottom: 50px;
    
        p{
            @extend .p-4;
            @extend .mt-2;
            font-size: $font-size-sm;
            text-align: center;
        }
    }

    .profile-information-column{
        @extend .col-md-8;
        @extend .border-left-0;
        @extend .px-5;
        padding-top: 50px;
        padding-bottom: 50px;
        
        h1{
            font-size: x-large;
            font-weight: initial;
        }
        .password-form{
            @extend .mt-4;
            h1{
                @extend .py-3;
            }
        }
    }
}

.form-button{
    @extend .btn;
    width: 100%;
    max-width: 180px;

    font-weight: bold;
    &.submit{
        background-color: #00E15F;
        color: white;
    }
    &.cancel{
        background-color: #D30000;
        color: white;
    }
}

.form-group {
    position: relative;
    .select.inside-icon{
        right: 40px;
        z-index: 1;
    }
    .textarea.inside-icon{
        right: 25px;
        top: 20px;
    }
    &.biography-field{
        label{
            @extend .py-3;
            font-size: x-large;
        }
        textarea{
            min-height: 150px;
        }
    }
    &.political_movement-field{
        label{
            @extend .py-3;
            font-size: large;
        }
    }
    .number.inside-icon{
        right: 45px;        
    }
    .inside-icon {
        @extend .fa;    
    
        color: #7ED321;
        top: 10px;
        right: 25px;
        
        position: absolute;
    }
}


.is-valid {
    
    .form-control{
        @extend .is-valid;
    }
    .inside-icon {
        @extend .fa-check-circle;        
        color: #7ED321;
    }

}

.is-invalid {
    .form-control{
        @extend .is-invalid;
    }
    .inside-icon {
        @extend .fa-times-circle-o;
        color: #dc3545;
    }
}
