
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../variables';
@import '../../mixins';

.user-tools {
    @extend .list-inline;
    position: absolute;
    right: 8px;
    top: 17px;
    @include media-breakpoint-up(sm) {
        right: 15px;
        top: 20px;
    }
    li {
        margin-left: 10px;
        @include media-breakpoint-up(xs) {
            margin-left: 30px;
        }
        @include media-breakpoint-up(md) {
            margin-left: 4px;
        }
        display: table-caption;
    }
    a {
        display: inline-block;
        font-size: 1.6vmax;
        font-weight: $bold;
        line-height: 120%;
        text-align: center;
        @include link-hover(#9b9b9b,#9b9b9b,transparent,#9b9b9b);
        border-bottom-width: 2px !important;
        @include media-breakpoint-up(xs) {
            font-size: $font-size-sm;
        }
        img{
            @include media-breakpoint-down(sm) {
                margin-right: 27px;
                margin-top: 4px;
            }

        }
        span{

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        &:before {
            display: block;
            font-size: 24px;
            @include media-breakpoint-up(xs) {
                font-size: $font-size-lg;
                margin-bottom: 5px;
            }
        }
        &.active {
            @include link-hover(#9b9b9b,#9b9b9b,transparent,#9b9b9b);
        }
    }
    .notifications {
        .bubble {
            @include media-breakpoint-up(sm) {
                top: -5px;
                right: 18px;
            }
        }
    }
}


#notification-wrapper{
    display: none;
    &.alerts-opened{
        display: block;
    }
}
.notifications-panel {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 2px 2px 6px 0 rgba(0, 0, 0, 0.38);
    min-width: 320px;
    max-width: 420px;
    position: fixed;
    right: 0;
    top: 61px;
    z-index: 1100;
    @include media-breakpoint-up(sm) {
        right: 19px;
        top: 80px;
    }
    &:before {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $default-color;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        right: 3px;
        top: -15px;
        @include media-breakpoint-up(xs) {
            top: -10px;
        }
        @include media-breakpoint-up(sm) {
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid $default-color;
            right: 15px;
            top: -20px;
        }
    }
    .notifications-title {
        background-color: $default-color;
        color: #fff;
        // font-family: $font-family-sans-serif;
        font-size: $font-size-sm;
        font-weight: $bold;
        margin: 0;
        padding: 10px;
    }
    .notifications-list {
        background-color: #fff;
        list-style: none;
        height: auto;
        max-height: 490px;
        margin-bottom: 0;
        overflow: auto;
        padding: 0;
        .notifications-item {
            border-bottom: 1px solid rgba(theme-color("light"),0.3);
            font-size: 11px;
            overflow: hidden;
            padding: 10px;
            &.not-read {
                background-color: rgba(theme-color("light"),0.15);
            }
            a {
                font-weight: $bold;
                @include link-hover(theme-color("dark"),theme-color("dark"),transparent,theme-color("dark"));
            }
            .icon {
                border-radius: 100%;
                display: block;
                float: left;
                height: 40px;
                width: 40px;
                img {
                    border-radius: 100%;
                    height: 40px;
                    width: 40px;
                }
            }
            .info, .date {
                display: block;
                margin-left: 50px;
            }
            .date {
                color: color("gray");
            }
        }
    }
    .see-more {
        @extend .p-3;
        background-color: white;
        box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
        color:  color("gray");
        display: list-item;
        font-size: 11px;
        font-weight: $bold;
        line-height: 11px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        color: #0DB154;
        .text{
            @extend .px-1;
            @extend .py-2;
            border: 1px solid #0DB154;
        }
        
    }
}