.page-title{
    background-repeat: repeat-x;
    padding: 22px 0;
    background-image: url('/assets/images/bg-title.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    margin-bottom: 60px;

    h1{
        color: #FFFFFF !important;
        font-size: 28px !important;
        font-weight: 500 !important;
        line-height: 33px !important;
        text-transform: uppercase;
        margin-bottom: 0 !important;

        a {
            color: white !important;

            &:hover .icon { text-decoration: none; }
        }

        .icon{
            font-size: 51px;
            line-height: 0px;
            vertical-align: -4px;
        }
    }
}


.button{
    @extend .btn;
    @extend .ml-2;
    width: 100%;
    max-width: 180px;
    font-weight: bold;
    color: white;
    &.blue{
        background-color: #00AFF0;
        color: white;
    }
    &.red{
        background-color: #D0021B;
        color: white;
    }
}
