// @import '../node_modules/bootstrap/scss/bootstrap';

$site-header-bg-color:      rgba(255,255,255,0.75);
$semi-bold:         600;
$bold:              700;
$default-color: #60A976;
$bg-agree: #76C61F;
$bg-disagree: #D0021B;
$bg-pass: #F5A623;