/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";

// @import "~boootstrap/scss/bootstrap";
@import '../node_modules/bootstrap/scss/bootstrap';

@import 'variables';
@import 'mixins';
@import 'helpers';
@import 'globals';

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

// @import "../node_modules/roboto-fontface/css/roboto/roboto-fontface.css";

body, html {
    font-family: 'Roboto';
}

.modal {    
    .modal-lg  {
        @extend .row;
        @extend .col-sm-12;
        @extend .justify-content-md-center;
        .modal-content{
            @extend .col-sm-6;
        }
    }

    .modal-md  {
        @extend .row;
        @extend .col-sm-12;
        @extend .justify-content-md-center;

        @media screen and (max-width: 40em){
            margin: 10px 0px !important;
        }

        .modal-content{
            @extend .col-sm-4;

            @media screen and (min-width: 40em) and (max-width: 63.9375em) {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

    }
    
}


 